SimplePipeline.json
{
    "flowContents": {
        "identifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
        "instanceIdentifier": "4aca6ebe-019c-1000-5260-ecdcbb95de4e",
        "name": "SimplePipeline",
        "comments": "",
        "position": {
            "x": -1912.0,
            "y": -336.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "dc0cee4f-563f-38bf-9606-70dd811e6891",
                "instanceIdentifier": "4ae124ff-019c-1000-ff21-6d3b4790376e",
                "name": "ExecuteSQL",
                "comments": "",
                "position": {
                    "x": -1168.0,
                    "y": -392.0
                },
                "type": "org.apache.nifi.processors.standard.ExecuteSQL",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Set Auto Commit": "true",
                    "Max Wait Time": "10 seconds",
                    "SQL Query": "select\n    a.id as auditorium_id,\n    if(a.aud_num = a.description, a.aud_num, concat_ws(' ', a.aud_num, a.description)) as auditorium_name,\n    a.aud_num as auditorium_name_kz,\n    a.aud_num as auditorium_name_en,\n    a.campus_id as campus_id,\n    null as epvo_building_id,\n    a.auditorium_type_id as auditorium_type_id,\n    null as epvo_auditory_id,\n    a.size as capacity,\n    a.area as area\nfrom auditoriums a\nleft join auditorium_type at on a.auditorium_type_id = at.id\nwhere\n    a.deleted = 0\n    and (at.system_type is null or at.system_type != 1)\n;",
                    "Database Connection Pooling Service": "9fb8bfdf-9711-31e0-a876-7fa23a3b6a43",
                    "Default Decimal Scale": "0",
                    "SQL Post-Query": null,
                    "Fetch Size": "0",
                    "Output Batch Size": "0",
                    "Use Avro Logical Types": "false",
                    "Compression Format": "NONE",
                    "Normalize Table and Column Names": "false",
                    "SQL Pre-Query": null,
                    "Default Decimal Precision": "10",
                    "Content Output Strategy": "EMPTY",
                    "Max Rows Per Flow File": "0"
                },
                "propertyDescriptors": {
                    "Set Auto Commit": {
                        "name": "Set Auto Commit",
                        "displayName": "Set Auto Commit",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Wait Time": {
                        "name": "Max Wait Time",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SQL Query": {
                        "name": "SQL Query",
                        "displayName": "SQL Query",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Connection Pooling Service": {
                        "name": "Database Connection Pooling Service",
                        "displayName": "Database Connection Pooling Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Default Decimal Scale": {
                        "name": "Default Decimal Scale",
                        "displayName": "Default Decimal Scale",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SQL Post-Query": {
                        "name": "SQL Post-Query",
                        "displayName": "SQL Post-Query",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Fetch Size": {
                        "name": "Fetch Size",
                        "displayName": "Fetch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Output Batch Size": {
                        "name": "Output Batch Size",
                        "displayName": "Output Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Use Avro Logical Types": {
                        "name": "Use Avro Logical Types",
                        "displayName": "Use Avro Logical Types",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Compression Format": {
                        "name": "Compression Format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Normalize Table and Column Names": {
                        "name": "Normalize Table and Column Names",
                        "displayName": "Normalize Table and Column Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SQL Pre-Query": {
                        "name": "SQL Pre-Query",
                        "displayName": "SQL Pre-Query",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Default Decimal Precision": {
                        "name": "Default Decimal Precision",
                        "displayName": "Default Decimal Precision",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Content Output Strategy": {
                        "name": "Content Output Strategy",
                        "displayName": "Content Output Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Rows Per Flow File": {
                        "name": "Max Rows Per Flow File",
                        "displayName": "Max Rows Per Flow File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "999999999 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "6899d5f3-2495-3ea0-9d9e-642d01362847",
                "instanceIdentifier": "78d15218-019c-1000-a0d8-ade610502590",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": -1152.0,
                    "y": -80.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "Store State": "Do not store state",
                    "schema.name": "auditoriumDTO",
                    "mime.type": "application/avro-binary",
                    "Cache Value Lookup Cache Size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema.name": {
                        "name": "schema.name",
                        "displayName": "schema.name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "mime.type": {
                        "name": "mime.type",
                        "displayName": "mime.type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Cache Value Lookup Cache Size": {
                        "name": "Cache Value Lookup Cache Size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "37b96dd6-1439-301f-b555-1dd65c9c30d1",
                "instanceIdentifier": "5055b946-019c-1000-757e-8cf5c6e6f4cb",
                "name": "PutSQL",
                "comments": "",
                "position": {
                    "x": 304.0,
                    "y": -192.0
                },
                "type": "org.apache.nifi.processors.standard.PutSQL",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "SQL Statement": null,
                    "Support Fragmented Transactions": "true",
                    "Database Session AutoCommit": "false",
                    "Transaction Timeout": null,
                    "Batch Size": "100",
                    "Obtain Generated Keys": "false",
                    "Rollback On Failure": "false",
                    "JDBC Connection Pool": null
                },
                "propertyDescriptors": {
                    "SQL Statement": {
                        "name": "SQL Statement",
                        "displayName": "SQL Statement",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Support Fragmented Transactions": {
                        "name": "Support Fragmented Transactions",
                        "displayName": "Support Fragmented Transactions",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Session AutoCommit": {
                        "name": "Database Session AutoCommit",
                        "displayName": "Database Session AutoCommit",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Transaction Timeout": {
                        "name": "Transaction Timeout",
                        "displayName": "Transaction Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Obtain Generated Keys": {
                        "name": "Obtain Generated Keys",
                        "displayName": "Obtain Generated Keys",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Rollback On Failure": {
                        "name": "Rollback On Failure",
                        "displayName": "Rollback On Failure",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "JDBC Connection Pool": {
                        "name": "JDBC Connection Pool",
                        "displayName": "JDBC Connection Pool",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "8ed0b305-2572-387a-929b-2d12eddfce2f",
                "instanceIdentifier": "55606f62-019c-1000-a2a8-1dee36fca726",
                "name": "UpdateRecord",
                "comments": "",
                "position": {
                    "x": -1152.0,
                    "y": 728.0
                },
                "type": "org.apache.nifi.processors.standard.UpdateRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Record Writer": "1de098df-9507-36cf-bbbe-21af9b58e804",
                    "Record Reader": "ed4bd98e-8342-3b56-ad1a-34f1f7612353",
                    "Replacement Value Strategy": "record-path-value",
                    "/epvoId": "${current_max_id:plus(1):plus(recordIndex())}"
                },
                "propertyDescriptors": {
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Replacement Value Strategy": {
                        "name": "Replacement Value Strategy",
                        "displayName": "Replacement Value Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "/epvoId": {
                        "name": "/epvoId",
                        "displayName": "/epvoId",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "51d1e3e9-0a00-385d-b3eb-0b8d866d91b7",
                "instanceIdentifier": "4ae6ebe7-019c-1000-2f64-666422c47589",
                "name": "LogAttribute",
                "comments": "",
                "position": {
                    "x": -1792.0,
                    "y": 688.0
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Log FlowFile Properties": "true",
                    "Log Level": "info",
                    "Attributes to Ignore": null,
                    "Attributes to Log": "",
                    "Attributes to Ignore Regular Expression": null,
                    "Output Format": "Line per Attribute",
                    "Log Payload": "false",
                    "Log Prefix": null,
                    "Character Set": "UTF-8",
                    "Attributes to Log Regular Expression": ".*"
                },
                "propertyDescriptors": {
                    "Log FlowFile Properties": {
                        "name": "Log FlowFile Properties",
                        "displayName": "Log FlowFile Properties",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Level": {
                        "name": "Log Level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore": {
                        "name": "Attributes to Ignore",
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log": {
                        "name": "Attributes to Log",
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore Regular Expression": {
                        "name": "Attributes to Ignore Regular Expression",
                        "displayName": "Attributes to Ignore Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Output Format": {
                        "name": "Output Format",
                        "displayName": "Output Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Payload": {
                        "name": "Log Payload",
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Prefix": {
                        "name": "Log Prefix",
                        "displayName": "Log Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log Regular Expression": {
                        "name": "Attributes to Log Regular Expression",
                        "displayName": "Attributes to Log Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "67dc4fa9-f053-3fff-9871-a7e91667dfa6",
                "instanceIdentifier": "8835716e-019c-1000-d654-515b31301088",
                "name": "GenerateFlowFile",
                "comments": "",
                "position": {
                    "x": -1176.0,
                    "y": -672.0
                },
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "File Size": "0B",
                    "Batch Size": "1",
                    "Unique FlowFiles": "false",
                    "Mime Type": null,
                    "Custom Text": null,
                    "Character Set": "UTF-8",
                    "Data Format": "Text"
                },
                "propertyDescriptors": {
                    "File Size": {
                        "name": "File Size",
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Unique FlowFiles": {
                        "name": "Unique FlowFiles",
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Mime Type": {
                        "name": "Mime Type",
                        "displayName": "Mime Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Custom Text": {
                        "name": "Custom Text",
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Data Format": {
                        "name": "Data Format",
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "5258880 min",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "d453fdb1-2633-3475-a844-f0a31208253b",
                "instanceIdentifier": "88c0cb6e-019c-1000-438f-7e1fb3d1c2ee",
                "name": "LookupRecord_auditorium",
                "comments": "",
                "position": {
                    "x": -1120.0,
                    "y": 464.0
                },
                "type": "org.apache.nifi.processors.standard.LookupRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Routing Strategy": "route-to-success",
                    "Root Record Path": null,
                    "Result RecordPath": "/epvo_auditory_type_id",
                    "composite_key": "/auditorium_type_id",
                    "Lookup Service": "460897b9-71ac-3dd0-b07d-fb6d4213e988",
                    "Record Writer": "1de098df-9507-36cf-bbbe-21af9b58e804",
                    "Cache Size": "0",
                    "Record Reader": "ed4bd98e-8342-3b56-ad1a-34f1f7612353",
                    "Record Update Strategy": "use-property",
                    "Record Result Contents": "insert-entire-record"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "name": "Routing Strategy",
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Root Record Path": {
                        "name": "Root Record Path",
                        "displayName": "Root Record Path",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Result RecordPath": {
                        "name": "Result RecordPath",
                        "displayName": "Result RecordPath",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "composite_key": {
                        "name": "composite_key",
                        "displayName": "composite_key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Lookup Service": {
                        "name": "Lookup Service",
                        "displayName": "Lookup Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Size": {
                        "name": "Cache Size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Update Strategy": {
                        "name": "Record Update Strategy",
                        "displayName": "Record Update Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Result Contents": {
                        "name": "Record Result Contents",
                        "displayName": "Record Result Contents",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "01f49fbd-5bfe-300e-b608-6eec9e6e8ba8",
                "instanceIdentifier": "88488c3f-019c-1000-a066-b953e8843f4f",
                "name": "LookupRecord_building",
                "comments": "",
                "position": {
                    "x": -1136.0,
                    "y": 208.0
                },
                "type": "org.apache.nifi.processors.standard.LookupRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Routing Strategy": "route-to-success",
                    "Root Record Path": null,
                    "Result RecordPath": "/epvo_building_id",
                    "composite_key": "/campus_id",
                    "Lookup Service": "2afebcd4-db67-336d-a89c-e90d62104a22",
                    "Record Writer": "1de098df-9507-36cf-bbbe-21af9b58e804",
                    "Cache Size": "0",
                    "Record Reader": "ed4bd98e-8342-3b56-ad1a-34f1f7612353",
                    "Record Update Strategy": "use-property",
                    "Record Result Contents": "insert-entire-record"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "name": "Routing Strategy",
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Root Record Path": {
                        "name": "Root Record Path",
                        "displayName": "Root Record Path",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Result RecordPath": {
                        "name": "Result RecordPath",
                        "displayName": "Result RecordPath",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "composite_key": {
                        "name": "composite_key",
                        "displayName": "composite_key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Lookup Service": {
                        "name": "Lookup Service",
                        "displayName": "Lookup Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Size": {
                        "name": "Cache Size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Update Strategy": {
                        "name": "Record Update Strategy",
                        "displayName": "Record Update Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Result Contents": {
                        "name": "Record Result Contents",
                        "displayName": "Record Result Contents",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "c1a15719-d8e4-359a-bdb4-5b960ee34757",
                "instanceIdentifier": "4ae636b3-019c-1000-07b7-d3032cadbb09",
                "name": "ConvertRecord",
                "comments": "",
                "position": {
                    "x": -1768.0,
                    "y": 360.0
                },
                "type": "org.apache.nifi.processors.standard.ConvertRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Include Zero Record FlowFiles": "true",
                    "Record Writer": "64135860-7ac2-391e-bdc6-b2255d8c2001",
                    "Record Reader": "ed4bd98e-8342-3b56-ad1a-34f1f7612353"
                },
                "propertyDescriptors": {
                    "Include Zero Record FlowFiles": {
                        "name": "Include Zero Record FlowFiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "f1e1c1e1-1111-1111-1111-111111111111",
                "instanceIdentifier": "f1e1c1e1-019c-1000-0000-000000000001",
                "name": "Get Max ID",
                "comments": "",
                "position": {
                    "x": -1168.0,
                    "y": -550.0
                },
                "type": "org.apache.nifi.processors.standard.ExecuteSQL",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Set Auto Commit": "true",
                    "Max Wait Time": "10 seconds",
                    "SQL Query": "SELECT COALESCE(MAX(id), 0) as max_id FROM auditory_metadata",
                    "Database Connection Pooling Service": "e3169443-845f-3a13-a7e1-6ff3986bd2e4",
                    "Default Decimal Scale": "0",
                    "Fetch Size": "0",
                    "Output Batch Size": "0",
                    "Use Avro Logical Types": "false",
                    "Compression Format": "NONE",
                    "Normalize Table and Column Names": "false",
                    "Default Decimal Precision": "10",
                    "Content Output Strategy": "EMPTY",
                    "Max Rows Per Flow File": "0"
                },
                "propertyDescriptors": {
                    "Database Connection Pooling Service": {
                        "name": "Database Connection Pooling Service",
                        "identifiesControllerService": true
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "f2e2c2e2-2222-2222-2222-222222222222",
                "instanceIdentifier": "f2e2c2e2-019c-1000-0000-000000000002",
                "name": "EvaluateJsonPath",
                "comments": "",
                "position": {
                    "x": -1168.0,
                    "y": -460.0
                },
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Return Type": "auto-detect",
                    "Path Not Found Behavior": "warn",
                    "Null Value Behavior": "null",
                    "current_max_id": "$.max_id"
                },
                "propertyDescriptors": {
                    "current_max_id": {
                        "name": "current_max_id",
                        "dynamic": true
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "b1d918bb-2bdf-3125-9f22-23a1dd702044",
                "instanceIdentifier": "8835de9b-019c-1000-8366-1ca07e228044",
                "name": "queue0",
                "source": {
                    "id": "67dc4fa9-f053-3fff-9871-a7e91667dfa6",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "GenerateFlowFile",
                    "comments": "",
                    "instanceIdentifier": "8835716e-019c-1000-d654-515b31301088"
                },
                "destination": {
                    "id": "f1e1c1e1-1111-1111-1111-111111111111",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "Get Max ID",
                    "comments": "",
                    "instanceIdentifier": "f1e1c1e1-019c-1000-0000-000000000001"
                },
                "labelIndex": 0,
                "zIndex": 4,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [
                    "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"
                ],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "24c4c9f1-ab15-3bab-8091-025c337b8bdb",
                "instanceIdentifier": "8db8ac6a-019c-1000-360f-59723710cf47",
                "name": "queue4",
                "source": {
                    "id": "d453fdb1-2633-3475-a844-f0a31208253b",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "LookupRecord_auditorium",
                    "comments": "",
                    "instanceIdentifier": "88c0cb6e-019c-1000-438f-7e1fb3d1c2ee"
                },
                "destination": {
                    "id": "8ed0b305-2572-387a-929b-2d12eddfce2f",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "UpdateRecord",
                    "comments": "",
                    "instanceIdentifier": "55606f62-019c-1000-a2a8-1dee36fca726"
                },
                "labelIndex": 0,
                "zIndex": 7,
                "selectedRelationships": [
                    "failure",
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [
                    "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"
                ],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "12565b2d-d965-30cf-8cc6-8c60773dc318",
                "instanceIdentifier": "4ae9120a-019c-1000-8d4f-f14e140240c1",
                "name": "queue2",
                "source": {
                    "id": "c1a15719-d8e4-359a-bdb4-5b960ee34757",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "ConvertRecord",
                    "comments": "",
                    "instanceIdentifier": "4ae636b3-019c-1000-07b7-d3032cadbb09"
                },
                "destination": {
                    "id": "51d1e3e9-0a00-385d-b3eb-0b8d866d91b7",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "4ae6ebe7-019c-1000-2f64-666422c47589"
                },
                "labelIndex": 0,
                "zIndex": 2,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [
                    "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"
                ],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "9ac94843-d894-3012-a948-86a64f2b25fa",
                "instanceIdentifier": "88c003b7-019c-1000-9e8c-0d91aecb8213",
                "name": "queue2",
                "source": {
                    "id": "6899d5f3-2495-3ea0-9d9e-642d01362847",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "78d15218-019c-1000-a0d8-ade610502590"
                },
                "destination": {
                    "id": "01f49fbd-5bfe-300e-b608-6eec9e6e8ba8",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "LookupRecord_building",
                    "comments": "",
                    "instanceIdentifier": "88488c3f-019c-1000-a066-b953e8843f4f"
                },
                "labelIndex": 0,
                "zIndex": 5,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [
                    "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"
                ],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "4495329f-b5ec-3082-b24a-b421f0b21dfb",
                "instanceIdentifier": "88c4d568-019c-1000-40e6-92da653a04d4",
                "name": "queue3",
                "source": {
                    "id": "01f49fbd-5bfe-300e-b608-6eec9e6e8ba8",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "LookupRecord_building",
                    "comments": "",
                    "instanceIdentifier": "88488c3f-019c-1000-a066-b953e8843f4f"
                },
                "destination": {
                    "id": "d453fdb1-2633-3475-a844-f0a31208253b",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "LookupRecord_auditorium",
                    "comments": "",
                    "instanceIdentifier": "88c0cb6e-019c-1000-438f-7e1fb3d1c2ee"
                },
                "labelIndex": 0,
                "zIndex": 6,
                "selectedRelationships": [
                    "failure",
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [
                    "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"
                ],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "50b01451-05e7-37cd-9dd7-a66028f77930",
                "instanceIdentifier": "78e36ef1-019c-1000-916d-bf32175564a9",
                "name": "queue1",
                "source": {
                    "id": "dc0cee4f-563f-38bf-9606-70dd811e6891",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "ExecuteSQL",
                    "comments": "",
                    "instanceIdentifier": "4ae124ff-019c-1000-ff21-6d3b4790376e"
                },
                "destination": {
                    "id": "6899d5f3-2495-3ea0-9d9e-642d01362847",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "78d15218-019c-1000-a0d8-ade610502590"
                },
                "labelIndex": 0,
                "zIndex": 3,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [
                    "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"
                ],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "c1e1c1e1-1111-1111-1111-111111111111",
                "instanceIdentifier": "c1e1c1e1-019c-1000-0000-000000000101",
                "name": "queue_max_id",
                "source": {
                    "id": "f1e1c1e1-1111-1111-1111-111111111111",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "Get Max ID",
                    "comments": "",
                    "instanceIdentifier": "f1e1c1e1-019c-1000-0000-000000000001"
                },
                "destination": {
                    "id": "f2e2c2e2-2222-2222-2222-222222222222",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "EvaluateJsonPath",
                    "comments": "",
                    "instanceIdentifier": "f2e2c2e2-019c-1000-0000-000000000002"
                },
                "labelIndex": 0,
                "zIndex": 10,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [
                    "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"
                ],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "c2e2c2e2-2222-2222-2222-222222222222",
                "instanceIdentifier": "c2e2c2e2-019c-1000-0000-000000000102",
                "name": "queue_eval_id",
                "source": {
                    "id": "f2e2c2e2-2222-2222-2222-222222222222",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "EvaluateJsonPath",
                    "comments": "",
                    "instanceIdentifier": "f2e2c2e2-019c-1000-0000-000000000002"
                },
                "destination": {
                    "id": "dc0cee4f-563f-38bf-9606-70dd811e6891",
                    "type": "PROCESSOR",
                    "groupId": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f",
                    "name": "ExecuteSQL",
                    "comments": "",
                    "instanceIdentifier": "4ae124ff-019c-1000-ff21-6d3b4790376e"
                },
                "labelIndex": 0,
                "zIndex": 11,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [
                    "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"
                ],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "ed4bd98e-8342-3b56-ad1a-34f1f7612353",
                "instanceIdentifier": "4aea2f61-019c-1000-8e57-07c9b74fb268",
                "name": "AvroReader",
                "comments": "",
                "type": "org.apache.nifi.avro.AvroReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Schema Branch": null,
                    "Schema Reference Reader": null,
                    "Schema Text": "${avro.schema}",
                    "Schema Version": null,
                    "Cache Size": "1000",
                    "Schema Registry": null,
                    "Schema Access Strategy": "embedded-avro-schema",
                    "Schema Name": "${schema.name}"
                },
                "propertyDescriptors": {
                    "Schema Branch": {
                        "name": "Schema Branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Reader": {
                        "name": "Schema Reference Reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Text": {
                        "name": "Schema Text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Version": {
                        "name": "Schema Version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Size": {
                        "name": "Cache Size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Registry": {
                        "name": "Schema Registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Access Strategy": {
                        "name": "Schema Access Strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Name": {
                        "name": "Schema Name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "2afebcd4-db67-336d-a89c-e90d62104a22",
                "instanceIdentifier": "719efa9d-019c-1000-d41b-82e4358ba391",
                "name": "SimpleDatabaseLookupService_epvo_buildings_metadata",
                "comments": "",
                "type": "org.apache.nifi.lookup.db.SimpleDatabaseLookupService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-lookup-services-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Table Name": "buildings_metadata",
                    "Lookup Value Column": "epvo_id",
                    "Database Connection Pooling Service": "e3169443-845f-3a13-a7e1-6ff3986bd2e4",
                    "Cache Size": "0",
                    "Lookup Key Column": "composite_key",
                    "Clear Cache on Enabled": "true",
                    "Cache Expiration": null
                },
                "propertyDescriptors": {
                    "Table Name": {
                        "name": "Table Name",
                        "displayName": "Table Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Lookup Value Column": {
                        "name": "Lookup Value Column",
                        "displayName": "Lookup Value Column",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Connection Pooling Service": {
                        "name": "Database Connection Pooling Service",
                        "displayName": "Database Connection Pooling Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Size": {
                        "name": "Cache Size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Lookup Key Column": {
                        "name": "Lookup Key Column",
                        "displayName": "Lookup Key Column",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Clear Cache on Enabled": {
                        "name": "Clear Cache on Enabled",
                        "displayName": "Clear Cache on Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Expiration": {
                        "name": "Cache Expiration",
                        "displayName": "Cache Expiration",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.lookup.LookupService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    },
                    {
                        "type": "org.apache.nifi.lookup.StringLookupService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "da574d48-dafa-3f26-8c2a-b56ceb93216d",
                "instanceIdentifier": "556f57de-019c-1000-7d7a-3a4b9394d632",
                "name": "AvroSchemaRegistry",
                "comments": "",
                "type": "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-registry-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Validate Field Names": "true",
                    "auditoriumDTO": "{\n  \"type\": \"record\",\n  \"name\": \"auditoriumDTORecord\",\n  \"fields\": [\n    {\n      \"name\": \"auditoriumId\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"auditoriumName\",\n      \"type\": [\"null\", \"string\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"auditoriumNameKz\",\n      \"type\": [\"null\", \"string\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"auditoriumNameEn\",\n      \"type\": [\"null\", \"string\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"campusId\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"epvoBuildingId\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"auditoriumTypeId\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"epvoAuditoryTypeId\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"capacity\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"area\",\n      \"type\": [\"null\", \"double\"],\n      \"default\": null\n    }\n  ]\n}"
                },
                "propertyDescriptors": {
                    "Validate Field Names": {
                        "name": "Validate Field Names",
                        "displayName": "Validate Field Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "auditoriumDTO": {
                        "name": "auditoriumDTO",
                        "displayName": "auditoriumDTO",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.schemaregistry.services.SchemaRegistry",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "1de098df-9507-36cf-bbbe-21af9b58e804",
                "instanceIdentifier": "55659d05-019c-1000-f735-966b6276cb79",
                "name": "AvroRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.avro.AvroRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Schema Branch": null,
                    "Schema Reference Reader": null,
                    "Schema Text": "${avro.schema}",
                    "Schema Registry": "da574d48-dafa-3f26-8c2a-b56ceb93216d",
                    "Schema Access Strategy": "schema-name",
                    "Schema Name": "${schema.name}",
                    "Schema Write Strategy": "avro-embedded",
                    "Encoder Pool Size": "32",
                    "Compression Format": "SNAPPY",
                    "Schema Cache": null,
                    "Schema Version": null,
                    "Cache Size": "1000",
                    "Schema Reference Writer": null
                },
                "propertyDescriptors": {
                    "Schema Branch": {
                        "name": "Schema Branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Reader": {
                        "name": "Schema Reference Reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Text": {
                        "name": "Schema Text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Registry": {
                        "name": "Schema Registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Access Strategy": {
                        "name": "Schema Access Strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Name": {
                        "name": "Schema Name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Encoder Pool Size": {
                        "name": "Encoder Pool Size",
                        "displayName": "Encoder Pool Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Compression Format": {
                        "name": "Compression Format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Cache": {
                        "name": "Schema Cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Version": {
                        "name": "Schema Version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Size": {
                        "name": "Cache Size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Writer": {
                        "name": "Schema Reference Writer",
                        "displayName": "Schema Reference Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "460897b9-71ac-3dd0-b07d-fb6d4213e988",
                "instanceIdentifier": "5553f59e-019c-1000-3fc1-47d6587760ac",
                "name": "SimpleDatabaseLookupService_epvo_auditory_types_metadata",
                "comments": "",
                "type": "org.apache.nifi.lookup.db.SimpleDatabaseLookupService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-lookup-services-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Table Name": "auditory_types_metadata",
                    "Lookup Value Column": "epvo_id",
                    "Database Connection Pooling Service": "e3169443-845f-3a13-a7e1-6ff3986bd2e4",
                    "Cache Size": "0",
                    "Lookup Key Column": "composite_key",
                    "Clear Cache on Enabled": "true",
                    "Cache Expiration": null
                },
                "propertyDescriptors": {
                    "Table Name": {
                        "name": "Table Name",
                        "displayName": "Table Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Lookup Value Column": {
                        "name": "Lookup Value Column",
                        "displayName": "Lookup Value Column",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Connection Pooling Service": {
                        "name": "Database Connection Pooling Service",
                        "displayName": "Database Connection Pooling Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Size": {
                        "name": "Cache Size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Lookup Key Column": {
                        "name": "Lookup Key Column",
                        "displayName": "Lookup Key Column",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Clear Cache on Enabled": {
                        "name": "Clear Cache on Enabled",
                        "displayName": "Clear Cache on Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Expiration": {
                        "name": "Cache Expiration",
                        "displayName": "Cache Expiration",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.lookup.LookupService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    },
                    {
                        "type": "org.apache.nifi.lookup.StringLookupService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "64135860-7ac2-391e-bdc6-b2255d8c2001",
                "instanceIdentifier": "4af7ad42-019c-1000-ea4f-4dace0fd4a4b",
                "name": "JsonRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.json.JsonRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Schema Branch": null,
                    "Schema Reference Reader": null,
                    "Schema Text": "${avro.schema}",
                    "Allow Scientific Notation": "false",
                    "Compression Level": "1",
                    "Output Grouping": "output-array",
                    "Schema Registry": null,
                    "Schema Access Strategy": "inherit-record-schema",
                    "Schema Name": "${schema.name}",
                    "Timestamp Format": null,
                    "Date Format": null,
                    "Pretty Print JSON": "true",
                    "Suppress Null Values": "never-suppress",
                    "Schema Write Strategy": "no-schema",
                    "Compression Format": "none",
                    "Schema Cache": null,
                    "Schema Version": null,
                    "Time Format": null,
                    "Schema Reference Writer": null
                },
                "propertyDescriptors": {
                    "Schema Branch": {
                        "name": "Schema Branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Reader": {
                        "name": "Schema Reference Reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Text": {
                        "name": "Schema Text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Allow Scientific Notation": {
                        "name": "Allow Scientific Notation",
                        "displayName": "Allow Scientific Notation",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Compression Level": {
                        "name": "Compression Level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Output Grouping": {
                        "name": "Output Grouping",
                        "displayName": "Output Grouping",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Registry": {
                        "name": "Schema Registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Access Strategy": {
                        "name": "Schema Access Strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Name": {
                        "name": "Schema Name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Pretty Print JSON": {
                        "name": "Pretty Print JSON",
                        "displayName": "Pretty Print JSON",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Suppress Null Values": {
                        "name": "Suppress Null Values",
                        "displayName": "Suppress Null Values",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Compression Format": {
                        "name": "Compression Format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Cache": {
                        "name": "Schema Cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Version": {
                        "name": "Schema Version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Writer": {
                        "name": "Schema Reference Writer",
                        "displayName": "Schema Reference Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "9fb8bfdf-9711-31e0-a876-7fa23a3b6a43",
                "instanceIdentifier": "4acb946e-019c-1000-6aea-bd2554da8957",
                "name": "db_data_kz_DBCPConnectionPoold",
                "comments": "",
                "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-dbcp-service-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Maximum Idle Connections": "8",
                    "Database Driver Locations": "/opt/nifi/nifi-current/lib/drivers/jdbc_drivers",
                    "Max Wait Time": "500 millis",
                    "Database Driver Class Name": "com.mysql.cj.jdbc.Driver",
                    "Minimum Idle Connections": "0",
                    "Kerberos User Service": null,
                    "Max Total Connections": "8",
                    "Validation Query": null,
                    "Database Password Provider": null,
                    "Database Connection URL": "jdbc:mysql://91.201.215.74:3306/db_data_atu",
                    "Password Source": "PASSWORD",
                    "Time Between Eviction Runs": "-1",
                    "Database User": "d_kim",
                    "Soft Minimum Evictable Idle Time": "-1",
                    "Maximum Connection Lifetime": "-1",
                    "Minimum Evictable Idle Time": "30 mins"
                },
                "propertyDescriptors": {
                    "Maximum Idle Connections": {
                        "name": "Maximum Idle Connections",
                        "displayName": "Maximum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Driver Locations": {
                        "name": "Database Driver Locations",
                        "displayName": "Database Driver Locations",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE",
                                "DIRECTORY",
                                "URL"
                            ]
                        }
                    },
                    "Max Wait Time": {
                        "name": "Max Wait Time",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Driver Class Name": {
                        "name": "Database Driver Class Name",
                        "displayName": "Database Driver Class Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum Idle Connections": {
                        "name": "Minimum Idle Connections",
                        "displayName": "Minimum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kerberos User Service": {
                        "name": "Kerberos User Service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Total Connections": {
                        "name": "Max Total Connections",
                        "displayName": "Max Total Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Validation Query": {
                        "name": "Validation Query",
                        "displayName": "Validation Query",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Password Provider": {
                        "name": "Database Password Provider",
                        "displayName": "Database Password Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Connection URL": {
                        "name": "Database Connection URL",
                        "displayName": "Database Connection URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Password Source": {
                        "name": "Password Source",
                        "displayName": "Password Source",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Between Eviction Runs": {
                        "name": "Time Between Eviction Runs",
                        "displayName": "Time Between Eviction Runs",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database User": {
                        "name": "Database User",
                        "displayName": "Database User",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Soft Minimum Evictable Idle Time": {
                        "name": "Soft Minimum Evictable Idle Time",
                        "displayName": "Soft Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Connection Lifetime": {
                        "name": "Maximum Connection Lifetime",
                        "displayName": "Maximum Connection Lifetime",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum Evictable Idle Time": {
                        "name": "Minimum Evictable Idle Time",
                        "displayName": "Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.dbcp.DBCPService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            },
            {
                "identifier": "e3169443-845f-3a13-a7e1-6ff3986bd2e4",
                "instanceIdentifier": "54cd9b91-019c-1000-fda9-877185dc56b0",
                "name": "epvo_atu_DBCPConnectionPool",
                "comments": "",
                "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-dbcp-service-nar",
                    "version": "2.7.2"
                },
                "properties": {
                    "Maximum Idle Connections": "8",
                    "Database Driver Locations": "/opt/nifi/nifi-current/lib/drivers/jdbc_drivers",
                    "Max Wait Time": "500 millis",
                    "Database Driver Class Name": "com.mysql.cj.jdbc.Driver",
                    "Minimum Idle Connections": "0",
                    "Kerberos User Service": null,
                    "Max Total Connections": "8",
                    "Validation Query": null,
                    "Database Password Provider": null,
                    "Database Connection URL": "jdbc:mysql://192.168.0.199:3306/epvo_atu",
                    "Password Source": "PASSWORD",
                    "Time Between Eviction Runs": "-1",
                    "Database User": "d_kim",
                    "Soft Minimum Evictable Idle Time": "-1",
                    "Maximum Connection Lifetime": "-1",
                    "Minimum Evictable Idle Time": "30 mins"
                },
                "propertyDescriptors": {
                    "Maximum Idle Connections": {
                        "name": "Maximum Idle Connections",
                        "displayName": "Maximum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Driver Locations": {
                        "name": "Database Driver Locations",
                        "displayName": "Database Driver Locations",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE",
                                "DIRECTORY",
                                "URL"
                            ]
                        }
                    },
                    "Max Wait Time": {
                        "name": "Max Wait Time",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Driver Class Name": {
                        "name": "Database Driver Class Name",
                        "displayName": "Database Driver Class Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum Idle Connections": {
                        "name": "Minimum Idle Connections",
                        "displayName": "Minimum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kerberos User Service": {
                        "name": "Kerberos User Service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Total Connections": {
                        "name": "Max Total Connections",
                        "displayName": "Max Total Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Validation Query": {
                        "name": "Validation Query",
                        "displayName": "Validation Query",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Password Provider": {
                        "name": "Database Password Provider",
                        "displayName": "Database Password Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Connection URL": {
                        "name": "Database Connection URL",
                        "displayName": "Database Connection URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Password Source": {
                        "name": "Password Source",
                        "displayName": "Password Source",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Between Eviction Runs": {
                        "name": "Time Between Eviction Runs",
                        "displayName": "Time Between Eviction Runs",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database User": {
                        "name": "Database User",
                        "displayName": "Database User",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Soft Minimum Evictable Idle Time": {
                        "name": "Soft Minimum Evictable Idle Time",
                        "displayName": "Soft Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Connection Lifetime": {
                        "name": "Maximum Connection Lifetime",
                        "displayName": "Maximum Connection Lifetime",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum Evictable Idle Time": {
                        "name": "Minimum Evictable Idle Time",
                        "displayName": "Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.dbcp.DBCPService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.7.2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "3bfe6e6c-fed9-34ec-91e8-734e3766f19f"
            }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}