default/SimplePipeline.json
{"flowContents":{"identifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0","instanceIdentifier":"902d76d1-019c-1000-bb8e-2044a97dc153","name":"SimplePipeline","comments":"","position":{"x":-2152.0,"y":-1016.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"dc0cee4f-563f-38bf-9606-70dd811e6891","instanceIdentifier":"547c9381-0036-3871-673c-fbf0ec3e06df","name":"ExecuteSQL","comments":"","position":{"x":-1184.0,"y":-520.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Set Auto Commit":"true","Max Wait Time":"10 seconds","SQL Query":"select\n    a.id as auditorium_id,\n    if(a.aud_num = a.description, a.aud_num, concat_ws(' ', a.aud_num, a.description)) as auditorium_name,\n    a.aud_num as auditorium_name_kz,\n    a.aud_num as auditorium_name_en,\n    a.campus_id as campus_id,\n    CAST(null AS SIGNED) as epvo_building_id,\n    a.auditorium_type_id as auditorium_type_id,\n    CAST(null AS SIGNED) as epvo_auditory_type_id,\n    a.size as capacity,\n    a.area as area\nfrom auditoriums a\nleft join auditorium_type at on a.auditorium_type_id = at.id\nwhere\n    a.deleted = 0\n    and (at.system_type is null or at.system_type != 1)\n;","Database Connection Pooling Service":"9fb8bfdf-9711-31e0-a876-7fa23a3b6a43","Default Decimal Scale":"0","SQL Post-Query":null,"Fetch Size":"0","Output Batch Size":"0","Use Avro Logical Types":"false","Compression Format":"NONE","Normalize Table and Column Names":"false","SQL Pre-Query":null,"Default Decimal Precision":"10","Content Output Strategy":"EMPTY","Max Rows Per Flow File":"0"},"propertyDescriptors":{"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Post-Query":{"name":"SQL Post-Query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table and Column Names":{"name":"Normalize Table and Column Names","displayName":"Normalize Table and Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Pre-Query":{"name":"SQL Pre-Query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Rows Per Flow File":{"name":"Max Rows Per Flow File","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"999999999 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"6899d5f3-2495-3ea0-9d9e-642d01362847","instanceIdentifier":"e8bcab97-749a-3ef9-48a4-cb8ac874b58d","name":"UpdateAttribute","comments":"","position":{"x":-1152.0,"y":-80.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","schema.name":"auditoriumDTO","mime.type":"application/avro-binary","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"8ed0b305-2572-387a-929b-2d12eddfce2f","instanceIdentifier":"90853758-ff73-3514-0624-ebb16286a618","name":"UpdateRecord","comments":"","position":{"x":-1112.0,"y":784.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"/epvoId":"${current_max_id:plus(1):plus(recordIndex())}","Record Writer":"1de098df-9507-36cf-bbbe-21af9b58e804","Record Reader":"ed4bd98e-8342-3b56-ad1a-34f1f7612353","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/epvoId":{"name":"/epvoId","displayName":"/epvoId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"67dc4fa9-f053-3fff-9871-a7e91667dfa6","instanceIdentifier":"81886391-9b0d-3bcb-b347-5805c8fa84c5","name":"GenerateFlowFile","comments":"","position":{"x":-1184.0,"y":-856.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":null,"Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"3b6c9c8f-b8bf-3172-8d2a-148d386903d6","instanceIdentifier":"90f59784-019c-1000-f463-7d770a4c073f","name":"ConvertRecord","comments":"","position":{"x":-504.0,"y":200.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Include Zero Record FlowFiles":"false","Record Writer":"64135860-7ac2-391e-bdc6-b2255d8c2001","Record Reader":"ed4bd98e-8342-3b56-ad1a-34f1f7612353"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"d453fdb1-2633-3475-a844-f0a31208253b","instanceIdentifier":"dfa43d5c-fb99-3d7b-f402-8e8f84b64117","name":"LookupRecord_auditorium","comments":"","position":{"x":-1120.0,"y":464.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Routing Strategy":"route-to-success","Root Record Path":null,"Result RecordPath":"/epvo_auditory_type_id","composite_key":"/auditorium_type_id","Lookup Service":"460897b9-71ac-3dd0-b07d-fb6d4213e988","Record Writer":"1de098df-9507-36cf-bbbe-21af9b58e804","Cache Size":"0","Record Reader":"ed4bd98e-8342-3b56-ad1a-34f1f7612353","Record Update Strategy":"use-property","Record Result Contents":"insert-entire-record"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Result RecordPath":{"name":"Result RecordPath","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"composite_key":{"name":"composite_key","displayName":"composite_key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Lookup Service":{"name":"Lookup Service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Update Strategy":{"name":"Record Update Strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Result Contents":{"name":"Record Result Contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"01f49fbd-5bfe-300e-b608-6eec9e6e8ba8","instanceIdentifier":"14384e32-bae4-36ca-dc54-081848b7fa9b","name":"LookupRecord_building","comments":"","position":{"x":-1136.0,"y":208.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Routing Strategy":"route-to-success","Root Record Path":null,"Result RecordPath":"/epvo_building_id","Lookup Service":"2afebcd4-db67-336d-a89c-e90d62104a22","Record Writer":"1de098df-9507-36cf-bbbe-21af9b58e804","Cache Size":"0","Record Reader":"ed4bd98e-8342-3b56-ad1a-34f1f7612353","Record Update Strategy":"use-property","key":"/campus_id","Record Result Contents":"insert-entire-record"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Result RecordPath":{"name":"Result RecordPath","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Service":{"name":"Lookup Service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Update Strategy":{"name":"Record Update Strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Result Contents":{"name":"Record Result Contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"59da055a-cf58-37fc-a7fa-5603d7ec3bdf","instanceIdentifier":"90faefea-019c-1000-c3bf-dabdcdb60e12","name":"toFunnel","source":{"id":"3b6c9c8f-b8bf-3172-8d2a-148d386903d6","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"ConvertRecord","comments":"","instanceIdentifier":"90f59784-019c-1000-f463-7d770a4c073f"},"destination":{"id":"6f69f1ee-51d8-3a0f-a53f-85de028b2b48","type":"FUNNEL","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"Funnel","comments":"","instanceIdentifier":"90fa522f-019c-1000-f556-a2da706d97aa"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"24c4c9f1-ab15-3bab-8091-025c337b8bdb","instanceIdentifier":"61785b89-8406-323f-2a72-4d7df8199582","name":"queue4","source":{"id":"d453fdb1-2633-3475-a844-f0a31208253b","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"LookupRecord_auditorium","comments":"","instanceIdentifier":"dfa43d5c-fb99-3d7b-f402-8e8f84b64117"},"destination":{"id":"8ed0b305-2572-387a-929b-2d12eddfce2f","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"UpdateRecord","comments":"","instanceIdentifier":"90853758-ff73-3514-0624-ebb16286a618"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"8531e869-71eb-3f06-aef9-77dd665eb015","instanceIdentifier":"90ce2fc6-019c-1000-b6b7-1bde55d2dcf4","name":"queue0","source":{"id":"67dc4fa9-f053-3fff-9871-a7e91667dfa6","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"GenerateFlowFile","comments":"","instanceIdentifier":"81886391-9b0d-3bcb-b347-5805c8fa84c5"},"destination":{"id":"dc0cee4f-563f-38bf-9606-70dd811e6891","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"ExecuteSQL","comments":"","instanceIdentifier":"547c9381-0036-3871-673c-fbf0ec3e06df"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"f6416e18-780a-35c2-9e62-4641fefd2747","instanceIdentifier":"90f64677-019c-1000-9606-caa3822d4ac9","name":"building_id_check","source":{"id":"01f49fbd-5bfe-300e-b608-6eec9e6e8ba8","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"LookupRecord_building","comments":"","instanceIdentifier":"14384e32-bae4-36ca-dc54-081848b7fa9b"},"destination":{"id":"3b6c9c8f-b8bf-3172-8d2a-148d386903d6","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"ConvertRecord","comments":"","instanceIdentifier":"90f59784-019c-1000-f463-7d770a4c073f"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"9ac94843-d894-3012-a948-86a64f2b25fa","instanceIdentifier":"1f9ffe5d-dd9c-3db8-b3f0-349c66c52b6f","name":"queue2","source":{"id":"6899d5f3-2495-3ea0-9d9e-642d01362847","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"UpdateAttribute","comments":"","instanceIdentifier":"e8bcab97-749a-3ef9-48a4-cb8ac874b58d"},"destination":{"id":"01f49fbd-5bfe-300e-b608-6eec9e6e8ba8","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"LookupRecord_building","comments":"","instanceIdentifier":"14384e32-bae4-36ca-dc54-081848b7fa9b"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"50b01451-05e7-37cd-9dd7-a66028f77930","instanceIdentifier":"7fb007b6-84f7-3a1e-2e85-ca948d9f74cf","name":"queue1","source":{"id":"dc0cee4f-563f-38bf-9606-70dd811e6891","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"ExecuteSQL","comments":"","instanceIdentifier":"547c9381-0036-3871-673c-fbf0ec3e06df"},"destination":{"id":"6899d5f3-2495-3ea0-9d9e-642d01362847","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"UpdateAttribute","comments":"","instanceIdentifier":"e8bcab97-749a-3ef9-48a4-cb8ac874b58d"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"4495329f-b5ec-3082-b24a-b421f0b21dfb","instanceIdentifier":"12b3b7bb-1134-37c6-711a-63c6ef1e2c2e","name":"queue3","source":{"id":"01f49fbd-5bfe-300e-b608-6eec9e6e8ba8","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"LookupRecord_building","comments":"","instanceIdentifier":"14384e32-bae4-36ca-dc54-081848b7fa9b"},"destination":{"id":"d453fdb1-2633-3475-a844-f0a31208253b","type":"PROCESSOR","groupId":"8958d012-e5c4-3a88-89eb-6324a0caabd0","name":"LookupRecord_auditorium","comments":"","instanceIdentifier":"dfa43d5c-fb99-3d7b-f402-8e8f84b64117"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"}],"labels":[],"funnels":[{"identifier":"6f69f1ee-51d8-3a0f-a53f-85de028b2b48","instanceIdentifier":"90fa522f-019c-1000-f556-a2da706d97aa","position":{"x":208.0,"y":232.0},"componentType":"FUNNEL","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"}],"controllerServices":[{"identifier":"2afebcd4-db67-336d-a89c-e90d62104a22","instanceIdentifier":"41816649-8ee1-3851-a986-c9bd00bdbd86","name":"SimpleDatabaseLookupService_epvo_buildings_metadata","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.7.2"},"properties":{"Table Name":"buildings_metadata","Lookup Value Column":"epvo_id","Database Connection Pooling Service":"e3169443-845f-3a13-a7e1-6ff3986bd2e4","Cache Size":"0","Lookup Key Column":"composite_key","Clear Cache on Enabled":"true","Cache Expiration":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Value Column":{"name":"Lookup Value Column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Key Column":{"name":"Lookup Key Column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Clear Cache on Enabled":{"name":"Clear Cache on Enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"ed4bd98e-8342-3b56-ad1a-34f1f7612353","instanceIdentifier":"b8270007-8773-3494-d939-4cbc490ad937","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Version":null,"Cache Size":"1000","Schema Registry":null,"Schema Access Strategy":"embedded-avro-schema","Schema Name":"${schema.name}"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"da574d48-dafa-3f26-8c2a-b56ceb93216d","instanceIdentifier":"9a3326b1-c56c-37b1-d9ed-6f86c82c04fe","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.7.2"},"properties":{"Validate Field Names":"true","auditoriumDTO":"{\n  \"type\": \"record\",\n  \"name\": \"auditoriumDTORecord\",\n  \"fields\": [\n    {\n      \"name\": \"auditorium_id\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"auditorium_name\",\n      \"type\": [\"null\", \"string\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"auditorium_name_kz\",\n      \"type\": [\"null\", \"string\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"auditorium_name_en\",\n      \"type\": [\"null\", \"string\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"campus_id\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"epvo_building_id\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"auditorium_type_id\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"epvo_auditory_type_id\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"capacity\",\n      \"type\": [\"null\", \"int\"],\n      \"default\": null\n    },\n    {\n      \"name\": \"area\",\n      \"type\": [\"null\", \"double\"],\n      \"default\": null\n    }\n  ]\n}"},"propertyDescriptors":{"Validate Field Names":{"name":"Validate Field Names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auditoriumDTO":{"name":"auditoriumDTO","displayName":"auditoriumDTO","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"564a99fa-bd25-36ce-afb9-f2ac1eba5ac4","instanceIdentifier":"902ff4b3-019c-1000-cc28-16a6ed2a9671","name":"SimpleDatabaseLookupService_auditories","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.7.2"},"properties":{"Table Name":"auditories","Lookup Value Column":"epvo_id","Database Connection Pooling Service":"e3169443-845f-3a13-a7e1-6ff3986bd2e4","Cache Size":"0","Lookup Key Column":"epvo_id","Clear Cache on Enabled":"true","Cache Expiration":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Value Column":{"name":"Lookup Value Column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Key Column":{"name":"Lookup Key Column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Clear Cache on Enabled":{"name":"Clear Cache on Enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"1de098df-9507-36cf-bbbe-21af9b58e804","instanceIdentifier":"8c328237-5d5c-398b-5b05-6db7b2d60b5a","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Registry":"da574d48-dafa-3f26-8c2a-b56ceb93216d","Schema Access Strategy":"schema-name","Schema Name":"${schema.name}","Schema Write Strategy":"avro-embedded","Encoder Pool Size":"32","Compression Format":"SNAPPY","Schema Cache":null,"Schema Version":null,"Cache Size":"1000","Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encoder Pool Size":{"name":"Encoder Pool Size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"460897b9-71ac-3dd0-b07d-fb6d4213e988","instanceIdentifier":"b4fb70c7-376c-3a5a-b214-4717dadd25b9","name":"SimpleDatabaseLookupService_epvo_auditory_types_metadata","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.7.2"},"properties":{"Table Name":"auditory_types_metadata","Lookup Value Column":"epvo_id","Database Connection Pooling Service":"e3169443-845f-3a13-a7e1-6ff3986bd2e4","Cache Size":"0","Lookup Key Column":"composite_key","Clear Cache on Enabled":"true","Cache Expiration":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Value Column":{"name":"Lookup Value Column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Key Column":{"name":"Lookup Key Column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Clear Cache on Enabled":{"name":"Clear Cache on Enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"64135860-7ac2-391e-bdc6-b2255d8c2001","instanceIdentifier":"3128d7d1-1d5a-3194-cd0e-7ea52b587228","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"e3169443-845f-3a13-a7e1-6ff3986bd2e4","instanceIdentifier":"8ed8f69c-9e93-3d69-04d8-de7de9bb2be9","name":"epvo_atu_DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.7.2"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/lib/drivers/jdbc_drivers","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:mysql://192.168.0.199:3306/epvo_atu","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"d_kim","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"},{"identifier":"9fb8bfdf-9711-31e0-a876-7fa23a3b6a43","instanceIdentifier":"2c293b40-5887-3095-50a6-3c67733b5492","name":"db_data_kz_DBCPConnectionPoold","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.7.2"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/lib/drivers/jdbc_drivers","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:mysql://91.201.215.74:3306/db_data_atu","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"d_kim","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8958d012-e5c4-3a88-89eb-6324a0caabd0"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}